In [287]:
import pandas as pd
import numpy as np

#### Q1
Load the energy data from the file Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of energy.
Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.
Rename the following list of countries (for use in later questions):
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these,
e.g.
'Bolivia (Plurinational State of)' should be 'Bolivia',
'Switzerland17' should be 'Switzerland'.

Next, load the GDP data from the file world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.
Make sure to skip the header, and rename the following list of countries:
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).
The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].
This function should return a DataFrame with 20 columns and 15 entries.

In [305]:
energy=pd.read_excel('Energy Indicators.xls',skiprows=16,skip_footer=38)
energy=energy.drop(energy.columns[[0,1]],axis=1)
energy_units=energy.iloc[0]
energy=energy.rename(columns={'Unnamed: 2':'Country','Renewable Electricity Production':'% Renewable',
                             'Energy Supply per capita':'Energy Supply per Capita'}).drop(energy.index[0])
energy['Energy Supply']=energy['Energy Supply']*int(1e6)
tmp1=(energy['Country'].
     str.replace('\(.*\)|\d','').
     str.strip().
     replace({"Republic of Korea": "South Korea",
                "United States of America": "United States",
                "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                "China, Hong Kong Special Administrative Region": "Hong Kong"}))
energy['Country']=tmp1

GDP=pd.read_csv('world_bank.csv',header=2)
GDP['Country Name']=GDP[GDP.columns[0]].replace({"Korea, Rep.": "South Korea", 
                        "Iran, Islamic Rep.": "Iran",
                        "Hong Kong SAR, China": "Hong Kong"})

ScimEn=pd.read_excel('scimagojr.xlsx')

In [306]:
df=energy.merge(GDP,how='inner',left_on='Country',right_on='Country Name')
df=df.merge(ScimEn,left_on='Country',right_on='Country')

df=df.loc[:,['Country','Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 
          'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', 
          '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
df=df.set_index('Country')
df2=df[df['Rank']<=15]
df2=df2.sort_values('Rank')

In [308]:
df2.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,147887,147512,856806,583858,5.79,162,127191000000,93,19.7549,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13
United States,2,113579,111426,1085684,370574,9.56,259,90838000000,286,11.571,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13
Japan,3,34294,34054,275980,73491,8.05,145,18984000000,149,10.2328,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12
United Kingdom,4,24328,23671,278694,52119,11.46,159,7920000000,124,10.6005,2.678278e+12,3.063005e+12,2.875463e+12,2.367127e+12,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12
India,5,21450,21183,179494,54929,8.37,132,33195000000,26,14.9691,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12

#### Q2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?
This function should return a single number.

In [303]:
all_df=energy.merge(GDP,how='outer',left_on='Country',right_on='Country Name').merge(ScimEn,how='outer',on='Country')

In [304]:
all_df.shape[0]-df.shape[0]

(323, 73)

#### Q3
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

In [315]:
import numpy as np
df2.iloc[:,-10:].apply(np.mean,axis=1).sort_values(ascending=False)

Country
United States         1.562297e+13
China                 6.940046e+12
Japan                 5.176323e+12
Germany               3.532694e+12
United Kingdom        2.724782e+12
France                2.688773e+12
Italy                 2.130288e+12
Brazil                1.989028e+12
Russian Federation    1.656010e+12
Canada                1.611540e+12
India                 1.594349e+12
Spain                 1.406409e+12
Australia             1.202763e+12
South Korea           1.165810e+12
Iran                  4.369708e+11
dtype: float64

#### Q4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?
This function should return a single number.

In [334]:
df2.where(df2['Rank']==6).dropna().loc[:,['2006','2015']].apply(lambda x:x['2015']-x['2006'],axis=1)

Country
Russian Federation    3.759347e+11
dtype: float64

#### Q5
What is the mean Energy Supply per Capita?

In [336]:
np.mean(df2.loc[:,'Energy Supply per Capita'])

157.59999999999999

#### Q6
What country has the maximum % Renewable and what is the percentage?
This function should return a tuple with the name of the country and the percentage.

In [351]:
q6=df2.where(df2['% Renewable']==np.max(df2['% Renewable'])).dropna()
q6.index[0],q6['% Renewable'][0]

('Brazil', 69.64803)

#### Q7
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

In [359]:
q7=df2.copy()
q7['cite_ratio']=q7['Self-citations']/q7['Citations']
q7=q7.where(q7['cite_ratio']==np.max(q7['cite_ratio'])).dropna()

In [360]:
q7

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,cite_ratio
Country,,,,,,,,,,,,,,,,,,,,,
China,1.0,147887.0,147512.0,856806.0,583858.0,5.79,162.0,127191000000,93,19.7549,...,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13,0.681435

#### Q8 
Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?
This function should return a single string value.

In [364]:
q8=df2.copy()
q8['pop.est']=q8['Energy Supply']/q8['Energy Supply per Capita']
q8=q8.where(q8['pop.est']==np.max(q8['pop.est'])).dropna()

#### Q9
Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).
This function should return a single number.

In [409]:
q9=df2.copy()
q9['pop.est']=q9['Energy Supply']/q9['Energy Supply per Capita']
q9['citable per capita']=q9['Citable documents']/q9['pop.est']
q9['Energy Supply per Capita']=q9['Energy Supply per Capita'].astype('float64')
q9['citable per capita']=q9['citable per capita'].astype('float64')
q9['citable per capita'].corr(q9['Energy Supply per Capita'])

0.79199716982784063

#### Q10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.
This function should return a series named HighRenew whose index is the country name sorted in ascending order of rank.

In [410]:
q10=df2.copy()

In [417]:
q10['HighRenew']=(q10['% Renewable']>np.median(df['% Renewable'])).astype('int')

In [419]:
q10['HighRenew']

Country
China                 0
United States         0
Japan                 0
United Kingdom        0
India                 0
Russian Federation    0
Germany               0
Canada                1
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int32

#### Q11
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
This function should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America'] and columns ['size', 'sum', 'mean', 'std']

In [464]:
q11=df2.copy()
q11['pop.est']=(q11['Energy Supply']/q11['Energy Supply per Capita']).astype('float64')
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
a11=q11.groupby(ContinentDict).agg({'pop.est':[len,sum,np.mean,np.std]})
a11.columns=a11.columns.droplevel()
a11=a11.rename(columns={'len':'size'})
a11['size']=a11['size'].astype('int')

In [465]:
a11

               size           sum          mean           std
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

 #### Q12
 Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?
This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable. Do not include groups with no countries.

In [473]:
q12=df2.copy()
q12['% Renewable']=pd.cut(q12['% Renewable'],5)
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
q12.groupby([ContinentDict,'% Renewable']).agg({'% Renewable':len})

                                % Renewable
              % Renewable
Asia          (2.212, 15.753]             4
              (15.753, 29.227]            1
Australia     (2.212, 15.753]             1
Europe        (2.212, 15.753]             1
              (15.753, 29.227]            3
              (29.227, 42.701]            2
North America (2.212, 15.753]             1
              (56.174, 69.648]            1
South America (56.174, 69.648]            1

#### Q13
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.
e.g. 317615384.61538464 -> 317,615,384.61538464
This function should return a Series PopEst whose index is the country name and whose values are the population estimate string.

In [479]:
q13=df2.copy()
q13['PopEst']=(q13['Energy Supply']/q13['Energy Supply per Capita']).astype('int')
q13['PopEst'].apply(lambda x:'{0:,}'.format(x))

Country
China                 1,367,645,161
United States           317,615,384
Japan                   127,409,395
United Kingdom           63,870,967
India                 1,276,730,769
Russian Federation      143,500,000
Germany                  80,369,696
Canada                   35,239,864
France                   63,837,349
South Korea              49,805,429
Italy                    59,908,256
Spain                    46,443,396
Iran                     77,075,630
Australia                23,316,017
Brazil                  205,915,254
Name: PopEst, dtype: object

In [481]:
'{0:,}'.format(1000000)

'1,000,000'