#### Handling text in python

In [4]:
text1='Ethics are built right into the ideals and objectives of the United Nations '

In [5]:
len(text1)

76

In [6]:
text1.split(' ')

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

In [11]:
text2=text1.strip().split(' ')

In [12]:
len(text2)

13

In [13]:
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations']

In [14]:
[w for w in text2 if len(w)>3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [15]:
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [17]:
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [21]:
text3='To be or not to be'

In [22]:
text3.split(' ')

['To', 'be', 'or', 'not', 'to', 'be']

In [23]:
text4=set(text3.split(' '))

In [24]:
text4

{'To', 'be', 'not', 'or', 'to'}

In [27]:
len(set([w.lower() for w in text3.split(' ')]))

4

In [26]:
len(text4)

5

In [28]:
set([w.lower() for w in text3.split(' ')])

{'be', 'not', 'or', 'to'}

#### Common methods
s.startswith  
s.endswith  
t in s  
s.isupper();s.islower();s.istitle()  
s.isalpha();s.isdigit();s.isalnum()  
s.lower();s.upper();s.titlecase()  
s.split(t)  
s.splitlines()  
s.join(t)   
s.strip();s.rstrip()   
s.find(t);s.rfind(t)  
s.replace(u,v)

In [29]:
text5='ouagadougou'

In [30]:
text6=text5.split('ou')

In [31]:
text6

['', 'agad', 'g', '']

In [35]:
text5.rfind('ou')

9

In [36]:
'ou'.join(text6)

'ouagadougou'

In [37]:
[l for l in text5 if l.isalpha()]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [38]:
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [39]:
[text5]

['ouagadougou']

In [40]:
text8='   a quick brown fox jumped over a brown dog.  '

In [41]:
text8.strip()

'a quick brown fox jumped over a brown dog.'

In [46]:
text9=text8.strip()

In [47]:
text9.find('o')

10

In [48]:
text9.rfind('o')

39

In [49]:
text9.replace('o','O')

'a quick brOwn fOx jumped Over a brOwn dOg.'

In [50]:
f=open('mysql.txt','r')

In [51]:
f.readline()

'c19580817\n'

In [52]:
f.readlines()

['\n',
 'Giftcard:\n',
 'Lou Marron\n',
 '5320 Hazeltine Ave\n',
 'Los Angeles\n',
 'CA 91401\n',
 '\n',
 'R pubs\n',
 'miluo\n',
 'c19580817']

In [53]:
f.readline()

''

In [54]:
f.seek(0)

0

In [55]:
f.readline()

'c19580817\n'

In [56]:
f.seek(0)

0

In [57]:
f.read()

'c19580817\n\nGiftcard:\nLou Marron\n5320 Hazeltine Ave\nLos Angeles\nCA 91401\n\nR pubs\nmiluo\nc19580817'

In [59]:
f.seek(0)
tmp=f.read()

In [60]:
tmp

'c19580817\n\nGiftcard:\nLou Marron\n5320 Hazeltine Ave\nLos Angeles\nCA 91401\n\nR pubs\nmiluo\nc19580817'

In [61]:
tmp.splitlines()

['c19580817',
 '',
 'Giftcard:',
 'Lou Marron',
 '5320 Hazeltine Ave',
 'Los Angeles',
 'CA 91401',
 '',
 'R pubs',
 'miluo',
 'c19580817']

    with open(newfile, 'w') as outfile, open(oldfile, 'r', encoding='utf-8') as infile:
        for line in infile:
            if line.startswith(txt):
                line = line[0:len(txt)] + ' - Truly a great person!\n'
            outfile.write(line)

In [63]:
with open('mysql.txt','r') as infile:
    for line in infile:
        print(line)

c19580817



Giftcard:

Lou Marron

5320 Hazeltine Ave

Los Angeles

CA 91401



R pubs

miluo

c19580817

In [67]:
with open('mysql.txt','r') as infile:
    tmp2=infile.read()

In [69]:
tmp2

'c19580817\n\nGiftcard:\nLou Marron\n5320 Hazeltine Ave\nLos Angeles\nCA 91401\n\nR pubs\nmiluo\nc19580817'

In [70]:
tmp2.splitlines()

['c19580817',
 '',
 'Giftcard:',
 'Lou Marron',
 '5320 Hazeltine Ave',
 'Los Angeles',
 'CA 91401',
 '',
 'R pubs',
 'miluo',
 'c19580817']

#### Common commands
f=open(file,mode)  
f.readline(),f.read(),f.read(n)  
for line in f dosomething(line)
f.seek(n)  ##set the reading point
f.write()  ##need to open in write mode  
f.close()
f.closed  ##check if closed

In [71]:
with open('mysql.txt','r') as infile:
    tmp3=infile.read(3)
tmp3

'c19'

In [76]:
with open('mysql.txt','r') as infile:
    tmp4=infile.readlines(20)

In [77]:
tmp4

['c19580817\n', '\n', 'Giftcard:\n']

In [80]:
infile.closed

True

In [81]:
with open('mysql.txt','r') as infile:
    tmp5=infile.readline()
tmp5,tmp5.rstrip()

('c19580817\n', 'c19580817')

#### Regular expressions

In [82]:
import re

In [83]:
?re.search

In [84]:
text12='ouagadougou'

In [87]:
re.findall('[aeiou]',text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [88]:
re.findall('[^aeiou]',text12)

['g', 'd', 'g']

(?: â€¦ ) Non-capturing group

In [89]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [90]:
df.text.str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [91]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [92]:
df.text.str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [93]:
df.text.str.split()

0    [Monday:, The, doctor's, appointment, is, at, ...
1    [Tuesday:, The, dentist's, appointment, is, at...
2    [Wednesday:, At, 7:00pm,, there, is, a, basket...
3    [Thursday:, Be, back, home, by, 11:15, pm, at,...
4    [Friday:, Take, the, train, at, 08:10, am,, ar...
Name: text, dtype: object

In [94]:
df.text.str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [95]:
df.text.str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [97]:
df.text.str.count('\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [98]:
df.text.str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [101]:
df['text'][0]

"Monday: The doctor's appointment is at 2:45pm."

In [102]:
df.text.str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [103]:
df.text.str.replace(r'\w+day\b','???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [105]:
df.text.str.replace(r'(\w+day\b)',lambda x:x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [109]:
df.text.str.extract(r'(\d?\d:\d\d)') #only extract the first match, use str.extractall to get all matches

C:\Users\miluo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

0     2:45
1    11:30
2     7:00
3    11:15
4    08:10
Name: text, dtype: object

In [114]:
df.text.str.extract(r'(\d?\d):(\d\d)\s?([ap]m)')

C:\Users\miluo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1   2
0   2  45  pm
1  11  30  am
2   7  00  pm
3  11  15  pm
4  08  10  am

In [116]:
df.text.str.extract(r'(\d?\d):(\d\d) ?([ap]m)') #a white space in regex also gets matches

C:\Users\miluo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1   2
0   2  45  pm
1  11  30  am
2   7  00  pm
3  11  15  pm
4  08  10  am

In [122]:
df.text.str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am