In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates=pd.date_range('20130101',periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01  0.776817  0.711115 -0.301445  1.093052
2013-01-02 -0.888552 -1.156323  0.707345  1.806901
2013-01-03  0.145842  1.415263 -1.316799 -1.012582
2013-01-04 -0.253842  0.717310 -0.055747  1.370508
2013-01-05  0.450011 -0.595195 -1.245341  0.070871
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396

In [9]:
df.head()

                   A         B         C         D
2013-01-01  0.776817  0.711115 -0.301445  1.093052
2013-01-02 -0.888552 -1.156323  0.707345  1.806901
2013-01-03  0.145842  1.415263 -1.316799 -1.012582
2013-01-04 -0.253842  0.717310 -0.055747  1.370508
2013-01-05  0.450011 -0.595195 -1.245341  0.070871

In [10]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.063368  0.009098 -0.343047  0.538726
std    0.637147  1.076161  0.799585  1.061718
min   -0.888552 -1.156323 -1.316799 -1.012582
25%   -0.521321 -0.926986 -1.009367 -0.054579
50%   -0.054000  0.057960 -0.178596  0.581962
75%    0.373969  0.715761  0.101341  1.301144
max    0.776817  1.415263  0.707345  1.806901

In [13]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.776817   -0.888552    0.145842   -0.253842    0.450011   -0.610481
B    0.711115   -1.156323    1.415263    0.717310   -0.595195   -1.037584
C   -0.301445    0.707345   -1.316799   -0.055747   -1.245341    0.153704
D    1.093052    1.806901   -1.012582    1.370508    0.070871   -0.096396

In [17]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01  1.093052 -0.301445  0.711115  0.776817
2013-01-02  1.806901  0.707345 -1.156323 -0.888552
2013-01-03 -1.012582 -1.316799  1.415263  0.145842
2013-01-04  1.370508 -0.055747  0.717310 -0.253842
2013-01-05  0.070871 -1.245341 -0.595195  0.450011
2013-01-06 -0.096396  0.153704 -1.037584 -0.610481

In [19]:
df.sort_values(by='B',ascending=False)

                   A         B         C         D
2013-01-03  0.145842  1.415263 -1.316799 -1.012582
2013-01-04 -0.253842  0.717310 -0.055747  1.370508
2013-01-01  0.776817  0.711115 -0.301445  1.093052
2013-01-05  0.450011 -0.595195 -1.245341  0.070871
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396
2013-01-02 -0.888552 -1.156323  0.707345  1.806901

In [20]:
df['A']

2013-01-01    0.776817
2013-01-02   -0.888552
2013-01-03    0.145842
2013-01-04   -0.253842
2013-01-05    0.450011
2013-01-06   -0.610481
Freq: D, Name: A, dtype: float64

In [21]:
df[0:3]

                   A         B         C         D
2013-01-01  0.776817  0.711115 -0.301445  1.093052
2013-01-02 -0.888552 -1.156323  0.707345  1.806901
2013-01-03  0.145842  1.415263 -1.316799 -1.012582

In [26]:
df[['A','B']]

                   A         B
2013-01-01  0.776817  0.711115
2013-01-02 -0.888552 -1.156323
2013-01-03  0.145842  1.415263
2013-01-04 -0.253842  0.717310
2013-01-05  0.450011 -0.595195
2013-01-06 -0.610481 -1.037584

In [27]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [32]:
df.index.name='DD'

In [35]:
del df.index.name

In [36]:
df['E']=df['D']**2

In [37]:
df

                   A         B         C         D         E
2013-01-01  0.776817  0.711115 -0.301445  1.093052  1.194763
2013-01-02 -0.888552 -1.156323  0.707345  1.806901  3.264891
2013-01-03  0.145842  1.415263 -1.316799 -1.012582  1.025322
2013-01-04 -0.253842  0.717310 -0.055747  1.370508  1.878292
2013-01-05  0.450011 -0.595195 -1.245341  0.070871  0.005023
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396  0.009292

In [38]:
del df['E']

In [39]:
df

                   A         B         C         D
2013-01-01  0.776817  0.711115 -0.301445  1.093052
2013-01-02 -0.888552 -1.156323  0.707345  1.806901
2013-01-03  0.145842  1.415263 -1.316799 -1.012582
2013-01-04 -0.253842  0.717310 -0.055747  1.370508
2013-01-05  0.450011 -0.595195 -1.245341  0.070871
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396

In [40]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.776817  0.711115
2013-01-02 -0.888552 -1.156323
2013-01-03  0.145842  1.415263
2013-01-04 -0.253842  0.717310
2013-01-05  0.450011 -0.595195
2013-01-06 -0.610481 -1.037584

In [41]:
df.iloc[3]

A   -0.253842
B    0.717310
C   -0.055747
D    1.370508
Name: 2013-01-04 00:00:00, dtype: float64

In [42]:
type(df.iloc[3])

pandas.core.series.Series

In [43]:
df.iloc[3:5]

                   A         B         C         D
2013-01-04 -0.253842  0.717310 -0.055747  1.370508
2013-01-05  0.450011 -0.595195 -1.245341  0.070871

In [45]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.253842  0.717310
2013-01-05  0.450011 -0.595195

In [46]:
df[df.A>0]

                   A         B         C         D
2013-01-01  0.776817  0.711115 -0.301445  1.093052
2013-01-03  0.145842  1.415263 -1.316799 -1.012582
2013-01-05  0.450011 -0.595195 -1.245341  0.070871

In [47]:
df[df>0]

                   A         B         C         D
2013-01-01  0.776817  0.711115       NaN  1.093052
2013-01-02       NaN       NaN  0.707345  1.806901
2013-01-03  0.145842  1.415263       NaN       NaN
2013-01-04       NaN  0.717310       NaN  1.370508
2013-01-05  0.450011       NaN       NaN  0.070871
2013-01-06       NaN       NaN  0.153704       NaN

In [48]:
df2=df.copy()

In [49]:
df2['E']=['one','one','two','three','four','three']

In [50]:
df2

                   A         B         C         D      E
2013-01-01  0.776817  0.711115 -0.301445  1.093052    one
2013-01-02 -0.888552 -1.156323  0.707345  1.806901    one
2013-01-03  0.145842  1.415263 -1.316799 -1.012582    two
2013-01-04 -0.253842  0.717310 -0.055747  1.370508  three
2013-01-05  0.450011 -0.595195 -1.245341  0.070871   four
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396  three

In [51]:
df2[df2.E.isin(['two'])]

                   A         B         C         D    E
2013-01-03  0.145842  1.415263 -1.316799 -1.012582  two

In [52]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [53]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [54]:
df['F']=s1

In [55]:
df

                   A         B         C         D    F
2013-01-01  0.776817  0.711115 -0.301445  1.093052  NaN
2013-01-02 -0.888552 -1.156323  0.707345  1.806901  1.0
2013-01-03  0.145842  1.415263 -1.316799 -1.012582  2.0
2013-01-04 -0.253842  0.717310 -0.055747  1.370508  3.0
2013-01-05  0.450011 -0.595195 -1.245341  0.070871  4.0
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396  5.0

In [56]:
df.at[dates[0],'A']=0

In [57]:
df

                   A         B         C         D    F
2013-01-01  0.000000  0.711115 -0.301445  1.093052  NaN
2013-01-02 -0.888552 -1.156323  0.707345  1.806901  1.0
2013-01-03  0.145842  1.415263 -1.316799 -1.012582  2.0
2013-01-04 -0.253842  0.717310 -0.055747  1.370508  3.0
2013-01-05  0.450011 -0.595195 -1.245341  0.070871  4.0
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396  5.0

In [58]:
df[0,1]=2

                   A         B         C         D    F  (0, 1)
2013-01-01  0.000000  0.711115 -0.301445  1.093052  NaN       2
2013-01-02 -0.888552 -1.156323  0.707345  1.806901  1.0       2
2013-01-03  0.145842  1.415263 -1.316799 -1.012582  2.0       2
2013-01-04 -0.253842  0.717310 -0.055747  1.370508  3.0       2
2013-01-05  0.450011 -0.595195 -1.245341  0.070871  4.0       2
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396  5.0       2

In [67]:
df.columns

Index(['A', 'B', 'C', 'D', 'F', (0, 1)], dtype='object')

In [75]:
df.drop(df.columns[5],axis=1)

                   A         B         C         D    F
2013-01-01  0.000000  0.711115 -0.301445  1.093052  NaN
2013-01-02 -0.888552 -1.156323  0.707345  1.806901  1.0
2013-01-03  0.145842  1.415263 -1.316799 -1.012582  2.0
2013-01-04 -0.253842  0.717310 -0.055747  1.370508  3.0
2013-01-05  0.450011 -0.595195 -1.245341  0.070871  4.0
2013-01-06 -0.610481 -1.037584  0.153704 -0.096396  5.0

In [76]:
len(df)

6

In [77]:
df.size

36

In [78]:
df.shape

(6, 6)

In [83]:
df=df.drop('F',axis=1)

In [84]:
len(df)

6

In [85]:
df.shape

(6, 5)

In [86]:
df.loc[:,'D']=np.array([5])*len(df)

In [87]:
df

                   A         B         C   D  (0, 1)
2013-01-01  0.000000  0.711115 -0.301445  30       2
2013-01-02 -0.888552 -1.156323  0.707345  30       2
2013-01-03  0.145842  1.415263 -1.316799  30       2
2013-01-04 -0.253842  0.717310 -0.055747  30       2
2013-01-05  0.450011 -0.595195 -1.245341  30       2
2013-01-06 -0.610481 -1.037584  0.153704  30       2

In [89]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [90]:
df1

                   A         B         C   D  (0, 1)   E
2013-01-01  0.000000  0.711115 -0.301445  30       2 NaN
2013-01-02 -0.888552 -1.156323  0.707345  30       2 NaN
2013-01-03  0.145842  1.415263 -1.316799  30       2 NaN
2013-01-04 -0.253842  0.717310 -0.055747  30       2 NaN

In [99]:
df1=df1.drop(df1.columns[[4]],axis=1)

                   A         B         C   D  (0, 1)   E
2013-01-01  0.000000  0.711115 -0.301445  30       2 NaN
2013-01-02 -0.888552 -1.156323  0.707345  30       2 NaN
2013-01-03  0.145842  1.415263 -1.316799  30       2 NaN
2013-01-04 -0.253842  0.717310 -0.055747  30       2 NaN

In [101]:
df1.fillna(value=5)

                   A         B         C   D    E
2013-01-01  0.000000  0.711115 -0.301445  30  5.0
2013-01-02 -0.888552 -1.156323  0.707345  30  5.0
2013-01-03  0.145842  1.415263 -1.316799  30  5.0
2013-01-04 -0.253842  0.717310 -0.055747  30  5.0

In [102]:
df.mean()

A         -0.192837
B          0.009098
C         -0.343047
D         30.000000
(0, 1)     2.000000
dtype: float64

In [103]:
df.mean(1)

2013-01-01    6.481934
2013-01-02    6.132494
2013-01-03    6.448861
2013-01-04    6.481544
2013-01-05    6.121895
2013-01-06    6.101128
Freq: D, dtype: float64

In [104]:
df.mean(0)

A         -0.192837
B          0.009098
C         -0.343047
D         30.000000
(0, 1)     2.000000
dtype: float64

In [105]:
df.apply(np.cumsum)

                   A         B         C    D  (0, 1)
2013-01-01  0.000000  0.711115 -0.301445   30       2
2013-01-02 -0.888552 -0.445208  0.405900   60       4
2013-01-03 -0.742711  0.970054 -0.910899   90       6
2013-01-04 -0.996553  1.687364 -0.966646  120       8
2013-01-05 -0.546542  1.092170 -2.211987  150      10
2013-01-06 -1.157023  0.054586 -2.058283  180      12

In [106]:
df

                   A         B         C   D  (0, 1)
2013-01-01  0.000000  0.711115 -0.301445  30       2
2013-01-02 -0.888552 -1.156323  0.707345  30       2
2013-01-03  0.145842  1.415263 -1.316799  30       2
2013-01-04 -0.253842  0.717310 -0.055747  30       2
2013-01-05  0.450011 -0.595195 -1.245341  30       2
2013-01-06 -0.610481 -1.037584  0.153704  30       2

In [107]:
df.apply(lambda x: x.max()-x.min())

A         1.338564
B         2.571586
C         2.024144
D         0.000000
(0, 1)    0.000000
dtype: float64

In [108]:
s=pd.Series(np.random.randint(0,7,size=10))

In [109]:
s

0    1
1    3
2    0
3    6
4    5
5    3
6    6
7    5
8    0
9    1
dtype: int32

In [110]:
s.value_counts()

6    2
5    2
3    2
1    2
0    2
dtype: int64

In [111]:
df=pd.DataFrame(np.random.randn(10,4))

In [112]:
df[3]

0    0.092072
1   -0.092291
2   -0.502588
3   -0.509188
4    1.551916
5    0.189781
6   -0.699535
7   -1.110283
8   -0.325092
9    0.826850
Name: 3, dtype: float64

In [113]:
df

          0         1         2         3
0 -0.338590 -0.178611 -0.187444  0.092072
1 -0.625749  1.298622 -1.800861 -0.092291
2  0.107825  0.052604 -0.224988 -0.502588
3  0.218672  2.487082  1.207109 -0.509188
4  0.113818  0.369856 -0.393570  1.551916
5 -1.090941 -0.159247  0.614414  0.189781
6 -1.020268 -0.442827 -0.722590 -0.699535
7 -1.020021 -1.024972  0.794435 -1.110283
8 -1.446557  0.754428 -0.505389 -0.325092
9  0.428043  1.141786  1.453809  0.826850

In [114]:
df[0]

0   -0.338590
1   -0.625749
2    0.107825
3    0.218672
4    0.113818
5   -1.090941
6   -1.020268
7   -1.020021
8   -1.446557
9    0.428043
Name: 0, dtype: float64

In [115]:
df[0:3]

          0         1         2         3
0 -0.338590 -0.178611 -0.187444  0.092072
1 -0.625749  1.298622 -1.800861 -0.092291
2  0.107825  0.052604 -0.224988 -0.502588

In [116]:
pieces=[df[:3],df[3:7]]

In [117]:
pieces

[          0         1         2         3
 0 -0.338590 -0.178611 -0.187444  0.092072
 1 -0.625749  1.298622 -1.800861 -0.092291
 2  0.107825  0.052604 -0.224988 -0.502588,
           0         1         2         3
 3  0.218672  2.487082  1.207109 -0.509188
 4  0.113818  0.369856 -0.393570  1.551916
 5 -1.090941 -0.159247  0.614414  0.189781
 6 -1.020268 -0.442827 -0.722590 -0.699535]

In [119]:
type(pieces)

list

In [120]:
pd.concat(pieces)

          0         1         2         3
0 -0.338590 -0.178611 -0.187444  0.092072
1 -0.625749  1.298622 -1.800861 -0.092291
2  0.107825  0.052604 -0.224988 -0.502588
3  0.218672  2.487082  1.207109 -0.509188
4  0.113818  0.369856 -0.393570  1.551916
5 -1.090941 -0.159247  0.614414  0.189781
6 -1.020268 -0.442827 -0.722590 -0.699535

In [121]:
left=pd.DataFrame({'key':['foo','bar'],'lval':[1,2]})

In [122]:
right=pd.DataFrame({'key':['foo','bar'],'rval':[4,5]})

In [123]:
left

   key  lval
0  foo     1
1  bar     2

In [124]:
right

   key  rval
0  foo     4
1  bar     5

In [125]:
pd.merge(left,right,on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [126]:
pd.merge(right,left,on='key')

   key  rval  lval
0  foo     4     1
1  bar     5     2

In [127]:
df=pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])

In [128]:
df

          A         B         C         D
0  1.146563 -0.726762 -1.207254 -1.990453
1  1.785822 -0.693601 -0.026304  0.540159
2 -1.163965  0.330671  0.409422 -0.445169
3  0.530510 -0.726916 -0.996262  1.369043
4  0.394400 -0.380252 -0.398945  0.791884
5 -1.391003 -0.962875  0.820515  0.241671
6  0.873743  0.362619 -0.429556  0.436877
7 -1.845930 -1.156438 -0.641318  0.041103

In [131]:
s=df.iloc[3]

In [132]:
s

A    0.530510
B   -0.726916
C   -0.996262
D    1.369043
Name: 3, dtype: float64

In [133]:
type(s)

pandas.core.series.Series

In [135]:
df.append(s,ignore_index=True)

          A         B         C         D
0  1.146563 -0.726762 -1.207254 -1.990453
1  1.785822 -0.693601 -0.026304  0.540159
2 -1.163965  0.330671  0.409422 -0.445169
3  0.530510 -0.726916 -0.996262  1.369043
4  0.394400 -0.380252 -0.398945  0.791884
5 -1.391003 -0.962875  0.820515  0.241671
6  0.873743  0.362619 -0.429556  0.436877
7 -1.845930 -1.156438 -0.641318  0.041103
8  0.530510 -0.726916 -0.996262  1.369043